twSubscriptionVersion:
  twSubscriptionVersion_1: 
    name: 'database'
    value: 2
  twSubscriptionVersion_2: 
    name: 'api'
    value: 1
  twSubscriptionVersion_3: 
    name: 'core'
    value: 2

twSubscriptionListType:
  twSubscriptionListType_1: 
    code: 'standard'
    
twSubscriptionListTypeI18n:
  twSubscriptionListTypeI18n_1_en:
    id: twSubscriptionListType_1
    culture: en
    name: 'Standard list'
  twSubscriptionListTypeI18n_1_pl:
    id: twSubscriptionListType_1
    culture: pl
    name: 'Lista standardowa'

twSubscriptionMessageType:
  twSubscriptionMessageType_1: 
    code: 'text'
  twSubscriptionMessageType_2: 
    code: 'xhtml'
  twSubscriptionMessageType_3: 
    code: 'xhtml-em'
    
twSubscriptionMessageTypeI18n:
  twSubscriptionMessageTypeI18n_1_en:
    id: twSubscriptionMessageType_1
    culture: en
    name: 'Text email'
  twSubscriptionMessageTypeI18n_1_pl:
    id: twSubscriptionMessageType_1
    culture: pl
    name: 'Wiadomość tekstowa'
  twSubscriptionMessageTypeI18n_2_en:
    id: twSubscriptionMessageType_2
    culture: en
    name: 'XHTML email'
  twSubscriptionMessageTypeI18n_2_pl:
    id: twSubscriptionMessageType_2
    culture: pl
    name: 'Wiadomość XHTML'
  twSubscriptionMessageTypeI18n_3_en:
    id: twSubscriptionMessageType_3
    culture: en
    name: 'XHTML email with embeded images'
  twSubscriptionMessageTypeI18n_3_pl:
    id: twSubscriptionMessageType_3
    culture: pl
    name: 'Wiadomość XHTML z wbudowaniem zdjęć'

twSubscriptionStatus:
  twSubscriptionStatus_1: 
    code: 'active'
  twSubscriptionStatus_2: 
    code: 'pending'
  twSubscriptionStatus_3: 
    code: 'disabled'
    
twSubscriptionStatusI18n:
  twSubscriptionStatusI18n_1_en:
    id: twSubscriptionStatus_1
    culture: en
    name: 'Active'
  twSubscriptionStatusI18n_1_pl:
    id: twSubscriptionStatus_1
    culture: pl
    name: 'Aktywny'
  twSubscriptionStatusI18n_2_en:
    id: twSubscriptionStatus_2
    culture: en
    name: 'Pending'
  twSubscriptionStatusI18n_2_pl:
    id: twSubscriptionStatus_2
    culture: pl
    name: 'Oczekujący'
  twSubscriptionStatusI18n_3_en:
    id: twSubscriptionStatus_3
    culture: en
    name: 'Disabled'
  twSubscriptionStatusI18n_3_pl:
    id: twSubscriptionStatus_3
    culture: pl
    name: 'Wyłączony'

twSubscriptionSetup:
  twSubscriptionSetup_1: 
    code: 'invitation'
    
twSubscriptionSetupI18n:
  twSubscriptionSetupI18n_1_en:
    id: twSubscriptionSetup_1
    culture: en
    name: >
      'Prosimy o zaakceptowanie dodania się do listy {list}. By to zrobić należy kliknąć link {auth_link}'
  twSubscriptionSetupI18n_1_pl:
    id: twSubscriptionSetup_1
    culture: pl
    name: >
      'To add to list: {list}, please click a link {auth_link}'
    